body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 20px 0;
  width: 50%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#publications {
  font-family: Verdana, Helvetica, Arial;
}

#publications h2 {
  font-size: 14px;
  margin: 5px;
}

#publications p {
  font-size: 12px;
  opacity: 0.8;

}

#user_nav {
	float: right;
	font-size: 12px;
}

#nav {
    padding-bottom: 20px;
}

#nav ul {
    font-size: 12px;
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav ul li {
/*    background-color: #f00;*/
}

#nav a {
	display: block;
	width: 10em;
	text-decoration: none;
}

#nav li {
	float: left;
	width: 10em;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	opacity: 0.9;
}

#nav li:hover ul {
	left: auto;
    background-color: #bbb;
    color: #fff;	
}

#nav li:hover {
    background-color: #bbb;
    color: #fff;
}

#nav li a{
    color: #000;
}

#nav li a:visited {
    color: #000;
}

#nav li a:hover {
    background-color: #aaa;
    color: #fff;
}
